html {
	font-family: sans-serif;
}

header {
	background: #d4d4d2;
	padding: 20px 0; /* padding = espaçamento interno, 20px pra cima e pra baixo e 0px pra esquerda e pra direita */
}

.caixa {
	position: relative; /* posição relativa permite movimentar o elemento de acordo com o ponto inicial dele */
	width: 1240px;
	margin: 0 auto;
}

nav {
	position: absolute; 
	top: 50px;
	right: 0px;
}

nav li { /* li = item de uma lista [ul (não ordenada) ou ol (ordenada)] */
	display: inline;
	margin: 0 0 0 15px; /* margin = espaçamento interno. a, b, c, d, onde: a = topo b = direita c = baixo d = esquerda; */
}

nav a { /* a = âncora, link */
	text-transform: uppercase; /* transforma o texto de todas as âncoras de nav em maiúsculo */
	color: #000000;
	font-weight: bold; /* deixa a fonte com peso bold, ou seja, negrito */
	font-size: 18px;
	text-decoration: none; /* tira a decoração do texto, ou seja, tira o sublinhado */
}

nav a:hover {
	color: #ffb938;
	text-decoration: underline; /* underline como sublinhado embaixo do texto */

}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 24px 0 24px 0; /* arredonda os cantos da borda */
	border:  2px solid #000000; /* uma única linha define tamanho da borda, o estilo dela e a cor */
}

.produtos li:hover { /* hover define como o elemento vai reagir quando o mouse estiver em cima dele */
	border: 3px solid #ffb938;
}

.produtos li:active { /* active define como o elemento vai reagir quando for clicado, ativo */
	border-color: #099c19;
	color: white;
	background: #099c19;
}

.produtos li:hover h2 {
	font-size: 32px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	padding: 40px 0;
	background: url("produtos/imagens-produtos/bg.jpg");
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}