/* Padrão para todas as páginas: header e footer; */

html {
	font-family: sans-serif;

}

header {
	background: #c9c9c9;
	padding: 16px 0; /* padding = espaçamento interno, 20px pra cima e pra baixo e 0px pra esquerda e pra direita */
}

.caixa {
	position: relative; /* posição relativa permite movimentar o elemento de acordo com o ponto inicial dele */
	width: 1240px;
	margin: 0 auto;
}

nav { /* Menu de navegação */
	position: absolute; 
	top: 50px;
	right: 0px;
}

nav li { /* li = item de uma lista [ul (não ordenada) ou ol (ordenada)] */
	display: inline;
	margin: 0 0 0 16px; /* margin = espaçamento interno. a, b, c, d, onde: a = topo b = direita c = baixo d = esquerda; */
}

nav a { /* a = âncora, link */
	text-transform: uppercase; /* transforma o texto de todas as âncoras de nav em maiúsculo */
	color: #000000;
	font-weight: bold; /* deixa a fonte com peso bold, ou seja, negrito */
	font-size: 16px;
	text-decoration: none; /* tira a decoração do texto, ou seja, tira o sublinhado */
}

nav a:hover { /* hover dos links de navegação */
	color: #f26522;
	text-decoration: underline; /* underline como sublinhado embaixo do texto */

}

/* Página de produtos */
.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li { /* itens dos produtos */
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 24px 0 24px 0; /* arredonda os cantos da borda */
	border:  2px solid #000000; /* uma única linha define tamanho da borda, o estilo dela e a cor */
	transition: 0.5s all; /* o all diz que a transição de 0.5 segundos acontece para todos os elementos. */
}

.produtos li:hover { /* hover define como o elemento vai reagir quando o mouse estiver em cima dele */
	border: 3px solid #f26522;
	transform: scale(1.05);
}

.produtos li:hover h2 {
	transform: scale(1.06); /* utilizei para tirar a movimentação do footer quando há algum hover. Ainda não está 100% */
}

.produtos li:active { /* active define como o elemento vai reagir quando for clicado, ativo */
	border-color: #f26522;
	color: white;
	background: #f26522;
}

.produtos h2 { /* h2 dos produtos */
	font-size: 24px;
	font-weight: bold;
}

.produto-descricao { /* texto de descrição dos produtos */
	font-size: 16px;
}

.produto-preco { /* preço dos produtos */
	font-size: 32px;
	font-weight: bold;
	margin-top: 10px;
}

/* Footer: padrão */
footer {
	text-align: center;
	padding: 40px 0;
	background: url("bg.jpg");
}

.copyright {
	color: #FFFFFF;
	font-size: 10px;
	margin: 20px 0 0;
}

/* Página de contatos */

main {
	width: 1240px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend { /* para aplicar a mesma formatação em vários itens podemos usar a vírgula, ou definir classe */
	display: block;
	font-size: 16px;
	margin: 0 0 8px;
}

.input-padrao { /* esta classe está definida em vários elementos HTML que quero utilizar essa formatação */
	display: block;
	margin: 0 0 16px;
	padding: 8px 24px;
	width: 48%;
	border-radius: 4px;
	border-width: 1px;
}

.checkbox {
	margin: 16px 0; /* espaçamento interno pra cima e pra baixo de 16px */
}

/* PONTO DE ATENÇÃO DE APRENDIZADO: hierarquia no CSS - quando vamos mexer no CSS podemos selecionar o elemento de acordo com sua tag, sua class e seu id. 
A tag tem peso 1, a class tem peso 10 e o id tem peso 100.
Portanto, se tiver várias definições pro mesmo elemento, o que tiver maior peso vai prevalecer. */

.enviar {
	width: 31%;
	padding: 8px 0;
	background: #f26522;
	color: white;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	box-shadow: 0 0 0.8em gray;
	transition: 0.8s background; /* transition faz a transição de um elemento e você define o tempo de transição. nesse caso, a cor de bg vai mudar dentro de 1 seguendo no hover. */
	cursor: pointer; /* sempre que o mouse estiver em cima o cursos vai mudar mostrando pro usuário que aquilo é clicável */
}

.enviar:hover {
	background: darkorange;
	/* transform: scale(1.2); /* aumenta todo o elemento em 20% ou 1.2 vezes */
}

/* CSS da tabela */
table {
	margin: 24px 24px;
}

thead {
	background: #555555;
	color: white;
	font-size: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 4px 8px; /* padding = espaçamento interno */
}

/* CSS da Página Inicial (Home) */
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em; /* em é a medida proporcional para pixels */
	margin: 0 0 1em;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.imagembeneficios {
	
}